page,
.wrapper {
  height: 100%;
  width: 100%;
  background-color: #f0f0f0;
  color: #000;
}

.bottom {
  width: 100%;
  height: 50px;
  background-color: #000;
  position: fixed;
  bottom: 0;
  .bottom__image {
    height: 100%;
    display: inline-block;
    overflow: hidden;
    width: 100%;
  }
}

.list-wrapper {
  height: calc(100% - 50px);
  width: 100%;
  // overflow: hidden;
  position: relative;
}

.list {
  width: 100%;
  padding:2.5rem .438rem 1rem;
  box-sizing:border-box;
}

.list .wechat {
  width: 100%;
  // height: 100px;
  margin-bottom: 1.25rem;
  // margin-bottom: 1.25rem;
  // background-color: #ccc;
  // border: 3px solid #000;
  // opacity: 0;
  box-sizing:border-box;
  display: flex;
}

.button {
  position: fixed;
  top: 0;
}

// .animation {
//   animation: wechat 1s forwards;
//   animation-delay: 1s;
// }

// @keyframes wechat {
//   from {
//     transform: translateY(100px);
//     opacity: 1;
//   }
//
//   to {
//     transform: translateY(0);
//     opacity: 1;
//   }
// }

.avatar {
  width: 80rpx;
  height: 80rpx;
  border-radius: 50%;
  overflow: hidden;

  .avatar__image {
    width: 80rpx;
    height: 80rpx;
  }
}

.content {
  max-width: 480rpx;
  min-height: 2.5rem;
  text-align: left;
  font-size: 14px;
  margin: 0 14px;
  border-radius: 6px;
  vertical-align: top;
  word-wrap: break-word;
  word-break: break-all;
  position: relative;

  &.content-text::before {
    content: '';
    display: inline-block;
    box-sizing: border-box;
    width: .438rem;
    height: .438rem;
    position: absolute;
    top: .938rem;
    background-color: inherit;
    border-right-color: inherit;
    border-bottom-color: inherit;
  }

  .picture {
    border-radius: .125rem;
    overflow: hidden;
    position: relative;
    width: 300rpx;
    height: 450rpx;

    .content__image {
      width: 300rpx;
      height: 450rpx;
      vertical-align: middle;
      border: 0;
      display: block;
      cursor: pointer;
    }
  }
}


.left {
  .content {
    background-color: #fff;
    border-color: #919191;
  }

  .content::before {
    background-color: #fff;
    border-color: #919191;
    left: -.188rem;
    transform: rotate(135deg)
  }
}

.right {
  flex-direction: row-reverse;

  .content {
    background-color: #90d936;
    border-color: rgb(146, 231, 73);
  }

  .content::before {
    background-color: #90d936;
    border-color: rgb(146, 231, 73);
    right: -.188rem;
    transform: rotate(135deg)
  }
}
.plain {
  padding: .563rem .625rem;
}
