@import '~@/styles/lib.less';

.comment-list {
  padding: 28px 20px;
  background: #f7f9f8;

  &__item {
    display: flex;
    align-items: flex-start;

    &__avatar {
      image {
        margin-right: 16px;
      }
    }
    &-right {
      flex: 1;
    }

    &__title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__name {
        font-family: PingFangSC-Semibold, PingFang SC;
        font-weight: 600;
        color: #3399ff;
        line-height: 34px;
        font-size: 24px;
      }

      &__time {
        font-size: 24px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #cdcdcd;
        line-height: 34px;
      }
    }

    &__content {
      margin-top: 8px;
      font-size: 28px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #4e4c56;
      line-height: 40px;
      margin-bottom: 28px;
    }
  }
}
