.weui-grids {
  border-color: #424242;
}

.gradeWrapper {
  overflow: auto;
  padding-bottom: 108px;
}
.weui-flex__item {
  width: calc(100% / 6);
  border-bottom: 1px solid #424242;
  border-right: 1px solid #424242;
  font-size: 12px;
  padding: 10px;
  text-align: center;
  /*box-sizing: border-box;*/
}

.weui-flex__item {
  width: 50px;
}

.gradeWrapper :nth-child(1) .weui-flex__item {
  border-top: 1px solid #424242;
}

.weui-flex :nth-child(1).weui-flex__item {
  width: 150px;
  border-left: 1px solid #424242;
}

.context {
  width: 50px;
}

.weui-flex :nth-child(1) .context {
  width: 150px;
}

.picker-year {
  padding: 10px 20px;

  .flex-box {
    width: 100%;
    display: flex;
  }
}

.change-icon {
  width: 16px;
  height: 16px;
  margin-left: 8px;
}

.noGrade {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.button {
  color: #fff;
  background-color: transparent;
  box-shadow: 0 0 10px #000;
  font-size: 12px;
}

.share-title {
  .flex-box {
    text-align: center;
    padding: 10px;
  }
}

.noPass {
  color: #ff3d00;
}

.pass {
  color: #64dd17;
}


.pinggu-wrapper {
  padding-top: 100px;
  text-align: center;
  .pinggu__text {
    margin-bottom: 40px;
    display: block;
  }
  .pinggu__info {
    display: block;
  }
}

.average-gpa {
  font-size: 12px;
  padding: 0 10px 10px 10px;
  display: block;
}

.advertising-wrapper {
  text-align: center;
  line-height: 107px;
  background: rgba(0, 0, 0, .2);
  position: fixed;
  bottom: 0;
  height: 107px;
  transform: scale(.8) !important;
  transform-origin: center bottom;
  width: 100%;
  .advertising {
    position: fixed;
    left: 0;
    bottom: 0;
    transform-origin: center bottom;
    transform: scale(1) !important;
  }

  .close-advertising {
    width: 40px;
    height: 40px;
    // border-radius: 50%;
    background: rgba(0, 0, 0, .7);
    position: absolute;
    right: -40px;
    bottom: 0;
    text-align: center;
    line-height: 40px;
  }
}

.advertising {
  position: fixed;
  left: 0;
  bottom: 0;
  transform-origin: center bottom;
  transform: scale(0.8) !important;
}
