.input-wrapper {
  display: flex;
  padding: 5px 20px;
}
page {
  background-color: #f8f8f8;
}
.wrapper {
  color: #363636;
  padding-top: 20px;
  .button {
    width: 200px;
    margin-left: 20px;
  }
  .info-wrapper {
    padding: 20px;
  }
}
.info {
  padding: 20px;
  font-size: 18px;
  color: #1AAD19;
}
