@import '~@/styles/lib.less';

.index-container {
  .info {
    padding: 40px 0 76px;
    text-align: center;
    font-size: 26px;
    line-height: 41px;
    color: #999999;
  }
  .discover-image {
    width: 532px;
    margin: 0 auto;
    display: block;
    padding: 80px 0;
  }
  .slide-wrapper {
    padding-top: 30px;
    height: 290px;
    .slide-item {
      width: 660px;
      display: flex;
      align-items: center;
      justify-content: center;
      .slide-image {
        width: 630px;
        height: 260px;
        border-radius: 16px;
      }
      .slide-curimage {
        width: 630px;
        height: 260px;
        border-radius: 16px;
        box-shadow: 0 15px 16px 0 rgba(20, 20, 20, 0.1);
      }
    }
  }
  .modules {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 85px;
    padding-right: 85px;
    .module {
      width: 110px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .modules_image {
      width: 80px;
      height: 80px;
      border-radius: 40px;
      margin-bottom: 30px;
    }

    .module.disabled {
      filter: opacity(20%);
      // filter: opacity(20%);
    }
    // .modules_dark {
    //   filter: opacity(15%) saturate(0%);
    // }
    // .modules_light {
    //   filter: opacity(25%) saturate(0%);
    // }
    .modules_text {
      font-size: 26px;
      color: #333333;
    }
  }
  .login-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    .login {
      text-align: center;
      // align-items: center;
      .login-button {
        width: 325px;
        height: 70px;
        margin-top: 17px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #6dde9e;
        box-shadow: 0px 10px 25px 0px rgba(109, 222, 158, 0.26);
        border-radius: 35px;
      }
      .login-text {
        font-size: 26px;
        color: #ffffff;
      }
    }
  }
  .msg-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
    .msg-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 630px;
      height: 222px;
      padding-left: 30px;
      padding-right: 30px;
      margin-top: 40px;
      background-color: #ffffff;
      box-shadow: 0px 5px 30px 0px rgba(0, 0, 80, 0.07);
      border-radius: 16px;
      .msg-img {
        width: 100px;
        height: 100px;
        border-radius: 50px;
      }
      .msg-text-card {
        width: 514px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #cccccc;
        font-size: 24px;
        .msg-text-body {
          flex: 1;
          height: 100px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
          .msg-title {
            font-size: 36px;
            letter-spacing: 2px;
            color: #333333;
          }
          .msg-content {
            color: #999999;
          }
        }
        .msg-text-time {
          width: 130px;
          height: 100px;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          justify-content: space-between;
          padding-top: 8px;
        }
      }
    }
  }
}
