@import '~@/styles/lib.less';

.sale-wall-item {
  width: 347px;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 10px;
  /* 防止多列布局，分页媒体和多区域上下文中的意外中断 */
  break-inside: avoid;
  background: #fff;
  margin: 0 8px 16px;
  &__photo {
    width: 100%;
  }

  &__avatar {
    margin-right: 16px;
    .component-avatar__name {
      font-size: 28px;
    }
  }

  &__info {
    padding: 20px;
    &-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 24px;
    }

    &-like {
      display: flex;
      align-items: center;
      font-family: TrebuchetMS, Rotobo, 'Microsoft YaHei', sans-serif;
      position: relative;
      font-size: 24px;
      font-weight: 400;
      color: #4e4c56;
      line-height: 33px;
      &.active {
        image {
          animation-name: heartBeat;
          animation-duration: calc(1s * 1.3);
          animation-timing-function: ease-in-out;
        }
      }
      image {
        width: 40px;
        height: 40px;
        margin-right: 13px;
      }
    }
  }
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }

  14% {
    transform: scale(1.3);
  }

  28% {
    transform: scale(1);
  }

  42% {
    transform: scale(1.3);
  }

  70% {
    transform: scale(1);
  }
}
