.wrapper {
  font-size: 14px;
}

.news-wrapper {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  line-height: 0;
}

.news-title {
  line-height: 25px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding:2px 0;
  box-sizing:border-box;
}

.loadingText {
  margin-bottom: 10px;
}

.text-small {
  font-size: 12px;
}
