.wrapper {
  font-size: 14px;
}

.news-wrapper {
  padding: 20px 10px 0px 10px;
}

.news-message {
  line-height: 25px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding:2px 0;
  box-sizing:border-box;
}

.loadingText {
  margin-bottom: 10px;
}

.news-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.text-small {
  font-size: 12px;
  color: #999;
}

.padding-wrapper {
  padding: 10px;
  box-shadow: 0 0 10px #000;
  display: flex;
  justify-content: space-between;
  line-height: 0;
}

.top {
  color: #76ff03;
  margin-right: 10px;
}
