page {
  background: #fff;
}

.information {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .weui-media-box__desc {
    width: 50%;
  }
}

.weui-media-box__desc {
  margin-top: 5px;
}

.weui-media-box::before {
  border-top: 0;
}

.weui-panel::after {
  border-bottom: 0;
}

.weui-panel__hd {
  color: #000;
}
