.wrapper {
  font-size: 14px;
}

.news-wrapper {
  padding: 20px 10px 0px 10px;
}

.news-message {
  line-height: 25px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding:2px 0;
  box-sizing:border-box;
  width: 100%;
}

.loadingText {
  margin-bottom: 10px;
}

.news-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: flex;

  &.detail-time {
    background: #fff;
    color: #7e7e7e;
    height: 32px;
    align-items: center;
    box-shadow: 0 0 5px #fff;
    margin: 5px -10px;
    padding: 0 10px;
    .image {
      position: relative;
      top: -4px;
    }
  }
}

.text-small {
  font-size: 12px;
  color: #999;
}

.padding-wrapper {
  padding: 10px;
  box-shadow: 0 0 10px #000;
  display: flex;
  justify-content: space-between;
  line-height: 0;
}

.go-detail {
  text-align: right;
  color: #377cec;
}
