.wrap {
  overflow: auto;
  font-size: 12px;
  padding-top: 5px;
}

.top-week {
  display: flex;
  width: 560px;
}

.item-content {
  width: 70px;
  /*border: 1px solid #424242;*/
  border-bottom: 1px solid #424242;
  border-right: 1px solid #424242;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: column;
}

.top-week,
.border-top {
  border-top: 1px solid #424242;
}

.top-week :first-child {
  border-left: 1px solid #424242;
}

.border-left {
  border-left: 1px solid #424242;
}

.course-wrapper,
.noArrange-course-wrapper {
  display: flex;
  width: 560px;
  flex-wrap: wrap;
}

.noArrange-course-wrapper .item-content{
  width: 80px;
  word-wrap: break-word;
  word-break: break-all;
}

.now-course {
  background: #263238;
}

.detial {
  position: fixed;
  box-sizing: border-box;
  padding: 40px;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 100;
  font-size: 16px;
  line-height: 30px;
  background-color: rgba(0, 0, 0, .8);
  overflow: auto;
}

.detialWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.detial button {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 200rpx;
  height: 80rpx;
  margin-left: -100rpx;
  text-align: center;
  font-size: 14px;
  line-height: 80rpx;
  border: 0 !important;
}

.text {
  margin: 20px;
}

.no-this-week {
  color: #999;
}

.this-week {
  color: #ffd180;
}

.info {
  font-size: 10px;
  width: 100%;
  text-align: center;
  color: #999;
  opacity: .8;
}
