@import './styles/reset.less';
@import './styles/lib.less';
// page {
//   background: #000;
// }
div,
a,
img svg {
  -webkit-tap-highlight-color: transparent;
}

taro-image-core {
  height: auto !important;
}

.blue-text {
  color: #3399ff;
}

.community-no-data {
  text-align: center;
  padding: 200px 0;
  font-size: 30rpx;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #d1d1d6;
}
